html {
	box-sizing: border-box;
	font-family: Open Sans;
}

:root {
	--green: #2ecc71;
	--green_grad: rgb(40, 179, 99);
	--white1: whitesmoke;
	--grey: #eaecee;
	--grey1: #b8b9bb;
	--grey2: #7a7d7d;
	--orange0: #ffdb99;
	--orange: #ffb300;
	--orange1: #fa8314;
	--orange2: #ffb404;
	--lightred: #c08497;
	--green-shadow: 0 1px 5px rgba(40, 179, 99, 0.8);
}

body {
	margin: 0;
	line-height: 1.58;
	background-color: #fff;
	color: #000;
}

* {
	line-height: 1.58;
	animation-name: text-fade-in;
	animation-duration: 1s;
}

h1 {
	/* margin to 0, to remove the white space between header and main text */
	margin: 0;
	font-size: 2.6rem;
	font-family: Oswald, Roboto, Roboto Condensed, Raleway, League Gothic;
	font-weight: 700;
}

img {
	/* max-width: 100%; */
}

a {
	text-decoration: none;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
a::selection,
figcaption::selection {
	background-color: var(--orange, orange);
}

@keyframes text-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hidden {
	display: none;
}
/* .wrapper {
	display: grid;
	grid-gap: 0px 20px;
} */

/* navigation */
.mob-nav-bar {
	display: none;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--green);
	/* padding-left: 1rem; */
	/* padding-right: 2rem; */
}

.nav-bar img {
	width: 230px;
}

.nav-bar-links {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-bar-links a {
	display: block;
	background-color: var(--green);
	color: #fff;
	padding: 2rem 0.8rem;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	transition: background-color ease 0.3s;
}

.nav-bar-links a:hover {
	background-color: #fff;
	color: var(--green);
	/* box-shadow: var(--green-shadow); */
}

.landing {
	background: linear-gradient(to left, var(--green), var(--green_grad));
}

.top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"description mental-img"
		"expand expand";
	color: #fff;
}

.description {
	grid-area: description;
	padding: 2rem 5rem;
	min-width: 400px;
	max-width: 900px;
}

.description-content {
	font-family: Open-Sans;
	font-size: 1.3rem;
}

.fig-mental {
	grid-area: mental-img;
	padding: 1.5rem;
	width: 25rem;
	margin: auto;
}

.fig-mental p {
	margin: 0;
}

.fig-mental img {
	width: 25rem;
}

.fig-mental figcaption {
	width: 25rem;
}

.fig-mental a {
	color: var(--orange0);
}

.green-bkg-btn {
	background-color: white;
	color: var(--thymynd-green, #2ecc71);
	cursor: pointer;
	border: none;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	transition: background-color 0.3s ease;
}

#expand-form-btn {
	grid-area: expand;
	padding: 1.2rem;
	border-radius: 2.2rem;
	width: 42%;
	margin: 1.9rem auto;
	font-size: 1.3rem;
}

#expand-form-btn .fa-chevron-circle-down {
	margin-left: 10%;
	margin-right: 10%;
	font-size: 1.6rem;
}

#expand-form-btn:hover {
	background-color: var(--grey, grey);
}

#expand-form-btn:focus {
	outline: none;
}
.contact_form {
}
.form {
	text-align: center;
	background-color: var(--grey, grey);
}
.form-label-container {
	padding: 2.5rem 0 1.25rem 0;
}
.form-label {
	color: var(--orange, orange);
	font-size: 1.5rem;
	font-weight: 700;
}

.form-input {
	padding: 1.25rem;
	/* border: solid var(--thymynd-grey0); */
	border: none;
	border-radius: 0.6em;
	width: 45%;
	/* background-color: var(--thymynd-grey, grey); */
	background-color: white;
}
.form-input:focus {
	border: solid 0.3rem var(--orange, orange);
	padding: 1rem;
}

input[type="email"],
input[type="text"] {
	font-family: Monospace;
}
/* screen size dependent */

/* screen size dependent, mobile not needed */
.form-input:hover {
	border: solid 3px var(--grey2, #c6ccd2);
	padding: 1rem;
}

.form-input-checkbox {
	margin-top: 2.5rem;
}

.form-label-checkbox {
	color: var(--thymynd-orange, orange);
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.8rem;
}
.form-btn {
	background-color: var(--green, green);
	color: white;
	padding: 1.25rem;
	margin: 1.6rem 0px 3.75rem 0px;
	cursor: pointer;
	/* opacity: 0.9; */
	border: none;
	border-radius: 2.2rem;
	width: 42%;
	font-size: 1.25rem;
	font-weight: bold;
	transition: background-color 0.3s ease;
}
.form-btn:hover {
	background-color: var(--orange, orange);
	/* box-shadow: 5px 5px 10px var(--thymynd-orange, orange), -5px -5px 10px var(--thymynd-orange, orange); */
}
.form-btn:focus {
	outline: none;
}
.Applications {
	background-color: white;
	padding: 2rem 5rem;
	animation-name: ictext-fade-in;
	animation-duration: 1.5s;
}
.Applications h2 {
	font-family: Oswald, Roboto, Roboto Condensed, Raleway, League Gothic;
	padding-top: 1rem;
	padding-bottom: 10px;
	font-size: 2.2rem;
}

.icons {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.icon img {
	height: 125px;
	width: 125px;
}

.icon {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.icon figcaption {
	/* height: 90px; */
	width: 150px;
}

footer {
	background-color: var(--green, green);
	color: white;
	font-family: Open Sans;
	text-align: center;
	padding: 50px 0 30px 0;
	font-size: 10px;
}

footer a {
	color: var(--orange0);
	text-decoration: underline;
}

footer a:hover {
	text-decoration: none;
	color: var(--orange1, orange);
}
footer p {
	margin: 0;
}
.reference {
	/* margin: 2rem 2rem; */
}
.ref-header {
	margin: 1rem 1.5rem;
}
.ref-table {
	margin: 1rem;
}
.ref-table-header,
.ref-row {
	padding: 2rem;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 4fr 5fr 2fr repeat(2, 1fr) 2fr 1fr 2fr;
	/* justify-items: center; */
	text-align: center;
}

.ref-table-header {
	background-color: var(--grey1);
}
.ref-row:nth-of-type(2n) {
	background-color: var(--orange0);
}
.ref-row:nth-of-type(2n + 1) {
	background-color: var(--grey);
}

.ref-row a {
	color: var(--lightred);
	text-decoration: underline;
}
.hidable-table-key {
	display: none;
}
.ref-categories {
	display: block;
	padding: 0 0.8rem 1rem;
}
.categories-menu {
	background-color: var(--grey);
	font-size: 1.2rem;
	padding: 0.5rem;
	margin-bottom: 0.2rem;
}
.ref-categories a {
	color: var(--orange1);
	text-decoration: underline;
}

.categories-menu a {
	color: var(--orange1);
	text-decoration: none;
}
.ref-list-container {
	padding: 0.5rem;
	background-color: var(--white1);
}
.ref-list {
}
.us {
	text-align: center;
	padding: 3rem 4rem;
}
/* .us-no-id {
	text-align: center;
	padding: 3rem 4rem;
} */
.team {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
}
.team figcaption {
	text-align: center;
	margin: 1.5rem;
}
#Mon {
	color: var(--lightred);
}
#Dave {
	color: rgb(0, 153, 255);
}
.contact-us {
	text-align: center;
}
.contact-us h1 {
	background-color: var(--grey);
	padding-top: 3rem;
}
/* tablet */
@media (max-width: 1050px) {
	.top-container {
		display: grid;
		grid-gap: 20px;
		grid-template-areas:
			"description"
			"mental-img"
			"expand";
	}

	.icons {
		display: grid;
		grid-gap: 5px;
		justify-items: center;
		grid-template-areas:
			"a b"
			"c d";
	}
	.icon-a {
		grid-area: a;
		width: 300px;
	}
	.icon-b {
		grid-area: b;
		width: 300px;
	}
	.icon-c {
		grid-area: c;
		width: 300px;
	}
	.icon-d {
		grid-area: d;
		width: 300px;
	}
	.icon figcaption {
		/* height: 90px; */
		width: 165px;
	}
	.ref-table {
		display: grid;
		grid-gap: 10px;
		grid-template-areas:
			"r1 r2 r3"
			"r4 r5 r6"
			"r7 r8 r9";
	}

	.ref-row {
		display: block;
		padding: 10px;
	}
	.ref-row.r1 {
		grid-area: "r1";
	}
	.ref-row.r2 {
		grid-area: "r2";
	}
	.ref-row.r3 {
		grid-area: "r3";
	}
	.ref-row.r4 {
		grid-area: "r4";
	}
	.ref-row.r5 {
		grid-area: "r5";
	}
	.ref-row.r6 {
		grid-area: "r6";
	}
	.ref-row.r7 {
		grid-area: "r7";
	}
	.ref-row.r8 {
		grid-area: "r8";
	}
	.ref-row.r9 {
		grid-area: "r9";
	}
	.hidable-table-key {
		display: block;
	}
	.ref-table-header {
		display: none;
	}
	.hidable-table-key > p {
		color: var(--grey2);
		/* font-size: 1.1rem; */
	}
}

/* mobile */
@media (max-width: 768px) {
	html {
		text-align: center;
	}
	.mob-nav-bar {
		display: block;
	}
	.nav-bar-btn-mob {
		background-color: var(--thymynd-green, #2ecc71);
		color: white;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.64em 0.6em;
		font-size: 1.6rem;
		border: none;
		cursor: pointer;
		z-index: 10;
	}

	.nav-bar-btn-mob:focus {
		outline: none;
	}
	.nav-bar {
		display: block;
		padding-bottom: 0px;
		background-color: var(--green);
	}
	.nav-bar-links {
		display: none;
		/* display: block; */
	}
	.nav-bar-item {
		/* display: block; */
		background-color: white;
		padding: 0.2em;
		border: 0.1em solid var(--white1);
	}

	.nav-bar-item:first-of-type {
		padding-top: 0.4em;
		border-top: 0.5em solid var(--grey);
	}
	.nav-bar-item:last-of-type {
		padding-bottom: 0.4em;
		border-bottom: 0.5em solid var(--grey);
	}
	/* screen size dependent */
	.nav-bar-links a {
		/* text-decoration: none; */
		color: var(--green);
		background-color: white;
		padding: 0.2rem 0.6rem;
		font-weight: 700;
		font-size: 1.1rem;
		margin: 0.5rem;
		text-transform: uppercase;
	}
	#expand-form-btn {
		padding: 0.8em;
		margin: 1.6em 25%;
		border-radius: 2.2em;
		width: 50%;
		font-size: 1.2em;
	}

	#expand-form-btn .fa-chevron-circle-down {
		display: none;
	}
	/* screen size dependent */
	.form-label {
		color: var(--thymynd-orange, orange);
		font-size: 20px;
		margin: 40px 0 20px 0;
		font-weight: bold;
	}

	/* screen size dependent */
	.form-input {
		padding: 20px;
		/* border: solid var(--thymynd-grey0); */
		border: none;
		border-radius: 10px;
		width: 75%;
		/* background-color: var(--thymynd-grey, grey); */
		background-color: white;
		font-size: 16px;
	}

	.form-input-checkbox {
		margin-top: 40px;
	}

	.form-label-checkbox {
		color: var(--thymynd-orange, orange);
		font-size: 16px;
		font-weight: bold;
		padding: 10px;
	}
	/* screen size dependent, mobile not needed */
	/* .form-input:hover  {
         border: solid 3px var(--thymynd-orange, orange);
         padding: 17px;
         /* background-color: var(--thymynd-grey); */
	/* }  */

	/* screen size dependent */
	.form-btn {
		background-color: var(--green, green);
		color: white;
		padding: 1em;
		margin: 1.1em 0px 3.3em 0px;
		cursor: pointer;
		border: none;
		border-radius: 2em;
		width: 75%;
		font-weight: 700;
		transition: background-color 0.3s ease;
		font-size: 1.2em;
	}

	.icons {
		display: grid;
		grid-gap: 5px;
		justify-items: center;
		grid-template-areas:
			"a"
			"b"
			"c"
			"d";
	}
	.ref-table {
		display: block;
	}
	.ref-table-header {
		display: none;
	}
	.ref-row {
		padding: 10px;
	}
	.ref-categories ol {
		list-style: none;
	}
	.ref-list {
		list-style: none;
	}
	.ref-list ul {
		/* list-style: none; */
	}
	.team {
		display: block;
	}
	#Mon {
		/* margin-bottom: rem; */
	}
	#Dave {
		margin: 5rem;
	}
}

/* classes for JS to toggle */

/* to display the hidden mobile nav menu */
.show-menu {
	display: block;
	/* grid-gap: 0; */
	/* grid-template-columns: 1fr; */
}

/* invert btn colour */
.nav-bar-btn-active {
	background-color: white;
	color: var(--green, #2ecc71);
}

/* to display the hidden subscribe form */
.show-form {
	display: block;
}

.change-colour-grey {
	background-color: var(--grey, grey);
}
