:root {

}

html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0; }

h2 {
  font-size: 50px; }

header {
  background-color: #2ECC71; }


#logo-pic {
  background-color: #2ECC71;
  height: 300px; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/* header h1 {
  float: left;
  color: white;
  margin-left: 40px;
} */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

header nav {
  float: right;
  margin-right: 40px; }

#nav-bar {
  list-style: none;
  margin: 0; }

.nav-bar-item {
  display: inline-block; }

.nav-bar-item a {
  text-decoration: none;
  color: white;
  padding: 23px 10px;
  display: inline-block; }

.nav-bar-item a:hover {
  text-decoration: none;
  color: #2ECC71;
  background-color: white; }

#first {
  width: auto;
  height: auto;
  clear: both; }

#landing-page {
  width: auto;
  background-color: #2ECC71;
  clear: inherit; }

article {
    display: inline;
}

figcaption {
    color: white;
}

@media (min-width: 550px) {
  #summary {
    width: 600px;
    color: white;
    padding: 30px;
    /* display: inline-block; */
    float: left;
    height: 350px;
    margin: 0px 0px 30px 0px; }

  .summary-title {
    width: inherit;
    font-size: 25px;
    font-weight: bold; }

  #summary h2 {
    font-size: 22px;
    width: inherit;
    line-height: 30px; }

  #pic {
    display: inline-block;
    margin: 50px 0px 50px 120px; }

  #pic img {
    width: 500px;
    display: inline-block; }

  #landing-page #contact_form {
    width: auto;
    margin-top: 79px;
    padding: 50px;
    text-align: center;
    background-color: #EAECEE;
    min-width: 250px;
    display: block; }

  .form_label {
    color: orange;
    font-size: 22px; }

  .form_input {
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 45%; }

  .form_button {
    background-color: #2ECC71;
    color: white;
    padding: 19px;
    margin: 30px 0px 30px 0px;
    cursor: pointer;
    opacity: 0.9;
    border: none;
    border-radius: 5px;
    width: 42%;
    font-size: 20px;
    font-weight: bold; }

  input[type=email], input[type=text] {
    font-family: Monospace; }

  #landing-page #icon-and-text {
    margin: 20px 0px;
    font-size: 17px;
    background-color: white; }

  .ictext {
    width: 325px; }

  #landing-page #icon-and-text h2 {
    padding-top: 15px;
    margin-left: 30px; }

  #landing-page #icon-and-text img {
    margin-left: 25px;
    margin-bottom: 45px;
    height: 80px; }

  #landing-page #icon-and-text p {
    margin-left: 30px;
    display: inline-block; }

  #reference {
    margin: 0px 30px 0px 30px;
    min-width: 800px;
    max-width: 1300px; } }
@media (max-width: 549px) {
  #summary {
    color: white;
    padding: 30px;
    float: left; }

  .summary-title {
    font-size: 24px;
    font-weight: bold; }

  #summary h2 {
    font-size: 19px;
    line-height: 22px; }

  #pic {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  #pic img {
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  #landing-page #contact_form {
    width: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: #EAECEE;
    min-width: 250px;
    display: block;
    line-height: 11px; }

  .form_label {
    color: orange;
    font-size: 22px; }

  .form_input {
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 90%; }

  .form_button {
    background-color: #2ECC71;
    color: white;
    padding: 19px;
    margin: 30px 0px 30px 0px;
    cursor: pointer;
    opacity: 0.8;
    border: none;
    border-radius: 5px;
    width: 90%;
    line-height: 15px;
    font-size: 15px;
    font-weight: bold; }

  input[type=email], input[type=text] {
    font-family: Monospace; }

  #landing-page #icon-and-text {
    margin: 20px 0px;
    font-size: 17px;
    background-color: white; }

  .ictext {
    width: 325px; }

  #landing-page #icon-and-text h2 {
    padding-top: 15px;
    margin: 10px 30px; }

  #landing-page #icon-and-text img {
    margin: 0px 25px 45px 25px;
    height: 80px; }

  #landing-page #icon-and-text p {
    margin: 0px 30px;
    display: inline-block; }

  #reference {
    margin: 0px 30px 0px 30px; } }
@media (min-width: 980px) {
  .hide-tab-head {
    display: none; } }
@media (max-width: 979px) {
  .hide-sm {
    display: none; } }
#landing-page #contact_form::after {
  content: '';
  display: block;
  clear: both; }

#landing-page #contact {
  color: white; }

#landing-page #contact a {
  text-decoration: none;
  color: magenta; }

.contact_form {
  width: auto;
  margin-top: 79px;
  padding: 50px;
  text-align: center;
  background-color: #EAECEE;
  min-width: 250px;
  display: block; }

.contact_form::after {
  content: '';
  display: block;
  clear: both; }

.form {
  color: white; }

.para {
  font-weight: bold;
  color: orange;
  text-align: center;
  font-size: 30px; }

#landing-page #contact a:hover {
  color: #ff8c00; }

#reference a {
  color: #ff8c00;
  font-size: 17.9px; }

#reference a:visited {
  color: #ff8c00; }

#reference a:hover {
  color: #82E0AA; }

/* #reference ul p
{
  //color: $spgreen;
} */
#us {
  margin-left: 30px;
  font-size: 17px; }

#team {
  color: #2ECC71;
  font-weight: bold;
  margin-left: 30px; }

#team img {
  margin: 20px 20px 0px 0px;
  width: 100px;
  height: auto; }

#contact {
  text-align: center;
  padding: 70px 70px 30px 70px;
  font-size: 12px; }

#contact a {
  color: #ff8c00;
  text-decoration: none; }

#contact a:hover {
  color: #2ECC71; }
