:root {
  --thymynd-green: #2ecc71;
  --thymynd-green_grad: #28b363;
  --thymynd-white1: whitesmoke;
  --thymynd-grey: #eaecee;
  --thymynd-grey2: #7a7d7d;
  --thymynd-orange0: #ffdb99;
  --thymynd-orange: #ffb300;
  --thymynd-orange2: #ffb404;
  --thymynd-lightred: #c08497;
}

body {
  margin: 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
article,
section,
figure,
div,
nav,
footer {
  line-height: 1.58;
  animation-name: text-fade-in;
  animation-duration: 1s;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
a::selection,
figcaption::selection {
  background-color: var(--thymynd-orange, orange);
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  background-color: var(--thymynd-green, #2ecc71);
}

.nav-bar-btn-mob {
  background-color: var(--thymynd-green, #2ecc71);
  color: white;
}

#landing-page {
  /* background-color: var(--thymynd-green, green); */
  background-image: linear-gradient(
    to left,
    var(--thymynd-green),
    var(--thymynd-green_grad)
  );

  /* animation-name: linear-gradient-change;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-timing-function: ease; */
  /* animation-iteration-count: 3; */
  /* animation-name: landing-fade-in;
animation-duration: 1s; */
}

/* @keyframes linear-gradient-change {
  0% {background-image: linear-gradient(to left, var(--thymynd-green), var(--thymynd-green_grad));}

  50% {background-image: linear-gradient(to left, var(--thymynd-green_grad), var(--thymynd-green));}

  100% {background-image: linear-gradient(to left, var(--thymynd-green), var(--thymynd-green_grad));}
} */

figcaption {
  color: white;
}

figcaption a {
  color: white;
}

.green-bkg-btn {
  background-color: white;
  color: var(--thymynd-green, #2ecc71);
  cursor: pointer;
  border: none;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

#expand-form-btn:focus {
  outline: none;
}

.form {
  display: none;
}

.form-btn:focus {
  outline: none;
}

.contact_form {
  text-align: center;
  background-color: var(--thymynd-grey, grey);
  /* display: none; */
}

/* .form-input:hover {
  background-color: var(--thymynd-orange0, #ffdb99);
} */

.form-input:focus {
  border: solid 5px var(--thymynd-orange, orange);
  padding: 15px;
  /* background-color: var(--thymynd-grey); */
}

input[type="email"],
input[type="text"] {
  font-family: Monospace;
}

/* different screen sizes */

/* mobile first */
/* mobile phone */
/* don't change this coz bootstrap row changes at 991px */
@media (max-width: 991px) {
  /* screen size dependent */
  #logo {
    /* background-color: var(--thymynd-green, green); */
    /* float: left; */

    /* padding: 10px 0 0 0px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* screen size dependent */
  header nav {
    display: none;
    /* flex-direction: row-reverse;
      margin-right: 40px; */
    /* display: inline-block; */
    /* text-align: center; */
    position: relative;
    /* margin: 0; */
    padding-bottom: 0px;
  }

  header nav ul {
    padding: 0;
    margin: 0;
  }

  .nav-bar-btn-mob {
    position: absolute;
    padding: 7px 20px;
    top: 0;
    right: 0;
    font-size: 34px;
    border: none;
  }

  .nav-bar-item {
    display: block;
    background-color: white;
    padding: 5px;
  }

  /* screen size dependent */
  .nav-bar-item a {
    /* text-decoration: none; */
    color: var(--thymynd-green, #2ecc71);
    padding: 5px 10px;
    font-weight: 700;
    font-size: 20px;
    margin: 20px;
    /* transition: all ease 0.3s; */
  }

  /* .nav-bar-item:hover {
    color: var(--thymynd-green, #2ecc71);
    background-color: var(--thymynd-grey, grey);
  } */

  /* .nav-bar-item a:hover {
    link-decoration: none;
    text-decoration: none;
    color: var(--thymynd-orange, orange);
  } */

  /* screen size dependent */
  #summary {
    width: auto;
    /* min-width: 300px; */
    color: white;
    padding: 30px 20px 10px 20px;
    margin: 0 5% 0 5%;
    /* display: inline-block; */
    /* position: relative; */
    height: auto;
    /* margin: 0px 0px 30px 0px; */
  }

  /* screen size dependent */
  #summary h1,
  #reference h1,
  #us h1,
  #us-no-id h1 {
    /* margin to 0, to remove the white space between header and main text */
    margin: 0;
    font-size: 2.6rem;
    font-family: Oswald, Roboto, Roboto Condensed, Raleway, League Gothic;
    font-weight: 900;
  }

  /* screen size dependent */
  #contact-us h1 {
    margin: 0px 0 0 0;
    padding-top: 60px;
    font-size: 2.6rem;
    font-family: Oswald, Roboto, Roboto Condensed, Raleway, League Gothic;
    font-weight: 900;
  }

  /* screen size dependent */
  #summary h2 {
    font-size: 1.3rem;
    font-family: Open Sans;
    font-weight: 700;
    width: 95%;
  }

  /* screen size dependent */
  #summary-content {
    width: 500px;
  }

  /* screen size dependent */
  #fig-mental {
    display: block;
  }

  #fig-mental img {
    width: 70%;
    margin: 0 15%;
  }

  #fig-mental figcaption {
    margin: 0 15%;
  }

  /* screen size dependent */
  #expand-form-btn {
    padding: 12px;
    margin: 20px 25%;
    border-radius: 35px;
    width: 50%;
    font-size: 1.2em;
  }

  #expand-form-btn .fa-chevron-circle-down {
    display: none;
    /* margin-left: 10%;
         margin-right: 10%;
         font-size: 20px; */
  }

  #expand-form-btn #exp-icon-down1 {
    /* display: none; */
  }

  /* screen size dependent, Not needed*/
  /* #expand-form-btn:hover {
       background-color: var(--thymynd-grey, grey);
     } */

  /* screen size dependent */
  .form-label {
    color: var(--thymynd-orange, orange);
    font-size: 20px;
    margin: 40px 0 20px 0;
    font-weight: bold;
  }

  /* screen size dependent */
  .form-input {
    padding: 20px;
    /* border: solid var(--thymynd-grey0); */
    border: none;
    border-radius: 10px;
    width: 75%;
    /* background-color: var(--thymynd-grey, grey); */
    background-color: white;
    font-size: 16px;
  }

  .form-input-checkbox {
    margin-top: 40px;
  }

  .form-label-checkbox {
    color: var(--thymynd-orange, orange);
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
  }
  /* screen size dependent, mobile not needed */
  /* .form-input:hover  {
       border: solid 3px var(--thymynd-orange, orange);
       padding: 17px;
       /* background-color: var(--thymynd-grey); */
  /* }  */

  /* screen size dependent */
  .form-btn {
    background-color: var(--thymynd-green, green);
    color: white;
    padding: 19px;
    margin: 20px 0px 60px 0px;
    cursor: pointer;
    border: none;
    border-radius: 35px;
    width: 75%;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }

  /* screen size dependent */
  /* .form-btn:hover { */
  /* background-color: var(--thymynd-orange, orange); */
  /* box-shadow: 5px 5px 10px var(--thymynd-orange, orange), -5px -5px 10px var(--thymynd-orange, orange); */
  /* } */

  /* screen size dependent */
  #icon-and-text {
    /* margin: 0px 0px; */
    /* font-size: 17px; */
    background-color: white;
    padding: 0 0 0 60px;
    animation-name: ictext-fade-in;
    animation-duration: 1.5s;
  }

  /* screen size dependent */
  .ictext {
    width: 100%;
    /* margin: 0 10% 0 10%; */
    /* position: relative; */
  }

  /* screen size dependent */
  #icon-and-text h2 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: Oswald, Roboto, Roboto Condensed, Raleway, League Gothic;
    margin-left: -10px;
    /* margin-left: 30px; */
  }

  /* screen size dependent */
  #icon-and-text img {
    /* margin-left: 5px;
       margin-bottom: 45px; */
    margin: 0px 0 45px -10px;
    height: 80px;
  }

  /* screen size dependent */
  #icon-and-text p {
    display: inline-block;
    margin: 10px 20px 10px -10px;
    /* margin-left: 5px; */
  }

  .ic-img-text {
    margin: 10px 20px 10px 15px;
  }

  /* hide the table heads in reference page when the screen size is small*/
  .hide-sm {
    display: none;
  }

  /* classes for JS to toggle */
}

/* desktop */
/* don't change this coz bootstrap row changes at 991px */
@media (min-width: 991px) {
  /* screen size dependent */
  #logo {
    /* background-color: var(--thymynd-green, green); */
    float: left;
    margin: 0px 0 0 10px;
  }

  /* screen size dependent */
  header nav {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 40px;
  }

  .nav-bar-btn-mob {
    display: none;
  }

  .nav-bar-item {
    display: inline-block;
  }

  /* screen size dependent */
  .nav-bar-item a {
    text-decoration: none;
    color: white;
    padding: 23px 10px;
    margin: 0px 0 -17px 0;
    font-weight: 700;
    display: inline-block;
    transition: background-color ease 0.3s;
  }

  /* screen size dependent */
  .nav-bar-item a:hover {
    text-decoration: none;
    color: var(--thymynd-green, green);
    background-color: white;
    /* font-weight: 700; */
  }
  /* screen size dependent */
  #summary {
    width: 40rem;
    display: inline-block;
    color: white;
    padding: 60px 0px 60px 50px;
    /* display: inline-block; */
    /* position: relative; */
    height: auto;
    /* margin: 0px 0px 30px 0px; */
  }

  /* screen size dependent */
  #summary h1,
  #reference h1,
  #us h1,
  #us-no-id h1 {
    /* margin to 0, to remove the white space between header and main text */
    margin: 0;
    font-size: 2.6rem;
    font-family: Oswald, Roboto, Roboto Condensed, Raleway, League Gothic;
    font-weight: 700;
  }

  /* screen size dependent */
  #contact-us h1 {
    margin: 0;
    padding-top: 60px;
    font-size: 2.6rem;
    font-family: Oswald, Roboto, Roboto Condensed, Raleway, League Gothic;
    font-weight: 700;
  }

  /* screen size dependent */
  #summary h2 {
    font-size: 1.3rem;
    font-family: Open Sans;
    font-weight: 700;
    width: 95%;
  }

  /* screen size dependent */
  #summary-content {
    width: 500px;
  }

  /* screen size dependent */
  #fig-mental {
    display: inline-block;
    margin: 65px 5% 50px 10%;
    /* width: 40%; */
    /* min-width: 395px; */
  }

  #fig-mental img {
    width: 25rem;
    border-radius: 20%;
  }

  #fig-mental figcaption {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
  }
  /* screen size dependent */
  #expand-form-btn {
    padding: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 35px;
    width: 42%;
    font-size: 20px;
  }

  /* screen size dependent, Not needed*/
  #expand-form-btn:hover {
    background-color: var(--thymynd-grey, grey);
  }

  /* screen size dependent */
  .form-label {
    color: var(--thymynd-orange, orange);
    font-size: 22px;
    margin: 40px 0 20px 0;
    font-weight: 700;
  }

  /* screen size dependent */
  .form-input {
    padding: 20px;
    /* border: solid var(--thymynd-grey0); */
    border: none;
    border-radius: 10px;
    width: 45%;
    /* background-color: var(--thymynd-grey, grey); */
    background-color: white;
  }

  /* screen size dependent, mobile not needed */
  .form-input:hover {
    border: solid 3px var(--thymynd-grey2, #c6ccd2);
    padding: 17px;
    /* background-color: var(--thymynd-grey); */
  }

  .form-input-checkbox {
    margin-top: 40px;
  }

  .form-label-checkbox {
    color: var(--thymynd-orange, orange);
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }
  /* screen size dependent */
  .form-btn {
    background-color: var(--thymynd-green, green);
    color: white;
    padding: 19px;
    margin: 25px 0px 60px 0px;
    cursor: pointer;
    /* opacity: 0.9; */
    border: none;
    border-radius: 35px;
    width: 42%;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  /* screen size dependent */
  .form-btn:hover {
    background-color: var(--thymynd-orange, orange);
    /* box-shadow: 5px 5px 10px var(--thymynd-orange, orange), -5px -5px 10px var(--thymynd-orange, orange); */
  }

  /* screen size dependent */
  #icon-and-text {
    /* margin: 0px 0px; */
    /* font-size: 17px; */
    background-color: white;
    padding: 0 0 0 60px;
    animation-name: ictext-fade-in;
    animation-duration: 1.5s;
  }

  /* screen size dependent */
  .ictext {
    width: 325px;
    /* position: relative; */
  }

  /* screen size dependent */
  #icon-and-text h2 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: Oswald, Roboto, Roboto Condensed, Raleway, League Gothic;
    /* margin-left: 30px; */
  }

  /* screen size dependent */
  #icon-and-text img {
    /* margin-left: 5px;
       margin-bottom: 45px; */
    margin: 0px 0 45px 5px;
    height: 80px;
  }

  /* screen size dependent */
  #icon-and-text p {
    display: inline-block;
    margin-left: 5px;
  }

  /* hides individual key fields (as in key value pairs) in the reference page */
  .hide-tab-head {
    display: none;
  }

  #expand-form-btn .fa-chevron-circle-down {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
  }
}

#contact {
  background-color: var(--thymynd-green, green);
  color: white;
  font-family: Open Sans;
  text-align: center;
  padding: 50px 0 30px 0;
  font-size: 10px;
}

#contact a {
  color: var(--thymynd-grey, grey);
  text-decoration: underline;
  font-weight: 800;
}

#contact a:hover {
  text-decoration: none;
  color: var(--thymynd-orange0, orange);
}
#reference {
  margin: 0px 0px 30px 0px;
}
#reference h1 {
  margin: 30px;
}

#r-and-r {
  /* margin: 10px 0px 30px 0px; */
  margin: 0px;
  padding: 5px 0px 20px 0px;
  background-color: var(--thymynd-white1, whitesmoke);
}

#r-and-r .row {
  padding: 10px 30px 10px 10px;
  margin: 0;
}

#r-and-r .row:nth-of-type(2n + 1) {
  background-color: var(--thymynd-grey);
}

#reference a {
  color: var(--thymynd-orange, orange);
  font-size: 17.9px;
}

/* #reference a:visited {
  color: var(--thymynd-orange0, #ff8c00);} */

#reference a:hover {
  color: var(--thymynd-green, green);
}
#reference > ol {
  margin: 20px 5px 0px 20px;
}

#reference > ol > li {
  font-size: 30px;
}
#reference > ol > li > a {
  font-size: 30px;
}
/* #reference ul p
{
  //color: $spgreen;
} */
#us {
  margin: 60px 50px 60px 50px;
}
#us h2 {
  margin: 20px 0 20px 0;
}
#us-no-id {
  margin: 60px 50px 60px 50px;
}
#us-no-id h2 {
  margin: 20px 0 20px 0;
}
#team {
  color: var(--thymynd-green, green);
  font-weight: bold;
  margin-left: 30px;
}

#team img {
  margin: 20px 20px 0px 0px;
  width: 100px;
  height: auto;
}

#team-no-id {
  color: var(--thymynd-green, green);
  font-weight: bold;
  margin-left: 30px;
}

#team-no-id img {
  margin: 20px 20px 0px 0px;
  width: 100px;
  height: auto;
}

#contact-us {
  /* padding: 60px 50px 60px 50px; */
  background-color: var(--thymynd-grey, grey);
  text-align: center;
}

/* classes for JS to toggle */

/* to display the hidden nav-bar */
.show {
  display: block;
}

/* invert btn colour */
.nav-bar-btn-active {
  background-color: white;
  color: var(--thymynd-green, #2ecc71);
}

.change-colour-grey {
  background-color: var(--thymynd-grey, grey);
}
